#Trabalho Final de Bancos de Dados não Convencionais
Por: Erik Heringer

O trabalho consiste na limpeza e transformação das tabelas de 2022 que registram as viagens de taxis amarelos de Nova York para as análises definidas pelo professor.

In [ ]:
#Instalando o Java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

#Instalando o Spark
!wget -q https://archive.apache.org/dist/spark/spark-3.4.0/spark-3.4.0-bin-hadoop3.tgz

#Verificando se o arquivo foi baixado
!ls -lh spark-3.4.0-bin-hadoop3.tgz

#Descompactando o arquivo
!tar xf spark-3.4.0-bin-hadoop3.tgz

#Verificando o diretório
!ls -lh

#Instalando o findspark
!pip install -q findspark

-rw-r--r-- 1 root root 371M Apr  7  2023 spark-3.4.0-bin-hadoop3.tgz
total 741M
drwxr-xr-x  2 root root 4.0K Jul  2 10:32 ArquivosTrabalhoFinalBD3
drwxr-xr-x  1 root root 4.0K Jun 28 13:24 sample_data
drwxr-xr-x 13 1000 1000 4.0K Apr  7  2023 spark-3.4.0-bin-hadoop3
-rw-r--r--  1 root root 371M Apr  7  2023 spark-3.4.0-bin-hadoop3.tgz
-rw-r--r--  1 root root 371M Apr  7  2023 spark-3.4.0-bin-hadoop3.tgz.1

In [ ]:
#Configurar as variáveis de ambiente

#Importando a biblioteca os
import os

#Definindo a variável de ambiente do Java
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

#Definindo a variável de ambiente do Spark
os.environ["SPARK_HOME"] = "/content/spark-3.4.0-bin-hadoop3"

#Importando a findspark
import findspark

#Iniciando o findspark
findspark.init('spark-3.4.0-bin-hadoop3')

**Note que o consumo de memória da sessão está configurado para 15g, talvez seja necessario mudar dependendo de sua máquina!!!**

In [ ]:
# iniciar uma sessão local
from pyspark.sql import SparkSession
import time
sc = SparkSession.builder.master('local[*]').config('spark.ui.port', '4050').config("spark.driver.memory", "15g").config("spark.executor.memory", "15g").getOrCreate()

In [ ]:
#Executando apenas a variável sc em uma célula veremos algumas informações sobre a sessão Spark criada.
sc

Importado as tabelas dos taxis amarelos do ano de 2022, de uma pasta pública do drive.

In [ ]:
!pip install gdown
import os
import gdown

gdown.download_folder(f"https://drive.google.com/drive/folders/11Yx5fUwO_8WWGJO5_vjvhsGo6425Yqxb?usp=sharing", quiet=False, use_cookies=False)
# Descompactar arquivos zip, se necessário
for arquivo in os.listdir():
    if arquivo.endswith(".zip"):
        !unzip {arquivo}

Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (5.1.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.15.4)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.66.4)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2024.6.2)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)

Retrieving folder contents

Processing file 1AhaXjPgd17ZX0jz6wgfKwAXwqYnkcmtI yellow_tripdata_2022-01.parquet
Processing file 1OgBGyZGKHeCnbh9H0HAHjJGkbSjnbXzQ yellow_tripdata_2022-02.parquet
Processing file 1WfA1MtqzpYPHs08xEcLRE2l7C36gPT-P yellow_tripdata_2022-03.parquet
Processing file 1rlUT29cbHRby1QLrghfNkOQ5MOVaNCNP yellow_tripdata_2022-04.parquet
Processing file 1K_PCJJ04KxIaEhZ_SyhYqPksbNWWf6de yellow_tripdata_2022-05.parquet
Processing file 1KQQ2wPFJxWKXCVGlFdm-r0mz5lM9bEsd yellow_tripdata_2022-06.parquet
Processing file 1xyhNvitlM3f2MRK9PrGVSoGk2NHgSy5f yellow_tripdata_2022-07.parquet
Processing file 1CCGxrXlxqHhwGk0-yk1-R-e0dXEWCbYC yellow_tripdata_2022-08.parquet
Processing file 1nWulV25Mf3HxSrC6X8nl6NylvJXGoMQI yellow_tripdata_2022-09.parquet
Processing file 1N5zAjIT8TGxbpY0oMOHvL6Z5VkRL64Bq yellow_tripdata_2022-10.parquet
Processing file 1XCQJu-iQDo70y8S4tWeSDASe4dqHqlwS yellow_tripdata_2022-11.parquet
Processing file 16ku7apKQKGhZTLLSKodkzfAloPnjLBSt yellow_tripdata_2022-12.parquet

Retrieving folder contents completed
Building directory structure
Building directory structure completed
Downloading...
From: https://drive.google.com/uc?id=1AhaXjPgd17ZX0jz6wgfKwAXwqYnkcmtI
To: /content/ArquivosTrabalhoFinalBD3/yellow_tripdata_2022-01.parquet
100%|██████████| 38.1M/38.1M [00:01<00:00, 26.2MB/s]
Downloading...
From: https://drive.google.com/uc?id=1OgBGyZGKHeCnbh9H0HAHjJGkbSjnbXzQ
To: /content/ArquivosTrabalhoFinalBD3/yellow_tripdata_2022-02.parquet
100%|██████████| 45.6M/45.6M [00:01<00:00, 31.0MB/s]
Downloading...
From: https://drive.google.com/uc?id=1WfA1MtqzpYPHs08xEcLRE2l7C36gPT-P
To: /content/ArquivosTrabalhoFinalBD3/yellow_tripdata_2022-03.parquet
100%|██████████| 55.7M/55.7M [00:02<00:00, 23.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1rlUT29cbHRby1QLrghfNkOQ5MOVaNCNP
To: /content/ArquivosTrabalhoFinalBD3/yellow_tripdata_2022-04.parquet
100%|██████████| 55.2M/55.2M [00:01<00:00, 29.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1K_PCJJ04KxIaEhZ_SyhYqPksbNWWf6de
To: /content/ArquivosTrabalhoFinalBD3/yellow_tripdata_2022-05.parquet
100%|██████████| 55.6M/55.6M [00:00<00:00, 149MB/s]
Downloading...
From: https://drive.google.com/uc?id=1KQQ2wPFJxWKXCVGlFdm-r0mz5lM9bEsd
To: /content/ArquivosTrabalhoFinalBD3/yellow_tripdata_2022-06.parquet
100%|██████████| 55.4M/55.4M [00:02<00:00, 24.6MB/s]
Downloading...
From: https://drive.google.com/uc?id=1xyhNvitlM3f2MRK9PrGVSoGk2NHgSy5f
To: /content/ArquivosTrabalhoFinalBD3/yellow_tripdata_2022-07.parquet
100%|██████████| 49.4M/49.4M [00:02<00:00, 24.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1CCGxrXlxqHhwGk0-yk1-R-e0dXEWCbYC
To: /content/ArquivosTrabalhoFinalBD3/yellow_tripdata_2022-08.parquet
100%|██████████| 49.7M/49.7M [00:02<00:00, 18.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=1nWulV25Mf3HxSrC6X8nl6NylvJXGoMQI
To: /content/ArquivosTrabalhoFinalBD3/yellow_tripdata_2022-09.parquet
100%|██████████| 49.6M/49.6M [00:00<00:00, 144MB/s]
Downloading...
From: https://drive.google.com/uc?id=1N5zAjIT8TGxbpY0oMOHvL6Z5VkRL64Bq
To: /content/ArquivosTrabalhoFinalBD3/yellow_tripdata_2022-10.parquet
100%|██████████| 57.1M/57.1M [00:00<00:00, 203MB/s]
Downloading...
From: https://drive.google.com/uc?id=1XCQJu-iQDo70y8S4tWeSDASe4dqHqlwS
To: /content/ArquivosTrabalhoFinalBD3/yellow_tripdata_2022-11.parquet
100%|██████████| 50.1M/50.1M [00:02<00:00, 20.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=16ku7apKQKGhZTLLSKodkzfAloPnjLBSt
To: /content/ArquivosTrabalhoFinalBD3/yellow_tripdata_2022-12.parquet
100%|██████████| 53.6M/53.6M [00:02<00:00, 26.4MB/s]
Download completed

!pip install gdown
import os
import gdown

gdown.download_folder(f"https://drive.google.com/drive/folders/11Yx5fUwO_8WWGJO5_vjvhsGo6425Yqxb", quiet=False, use_cookies=False)

In [ ]:
#Verificando a pasta
!ls /content/ArquivosTrabalhoFinalBD3

yellow_tripdata_2022-01.parquet  yellow_tripdata_2022-05.parquet  yellow_tripdata_2022-09.parquet
yellow_tripdata_2022-02.parquet  yellow_tripdata_2022-06.parquet  yellow_tripdata_2022-10.parquet
yellow_tripdata_2022-03.parquet  yellow_tripdata_2022-07.parquet  yellow_tripdata_2022-11.parquet
yellow_tripdata_2022-04.parquet  yellow_tripdata_2022-08.parquet  yellow_tripdata_2022-12.parquet

In [ ]:
pasta_taxis = "/content/ArquivosTrabalhoFinalBD3/*.parquet"
#criação do dataframe contendo a tabela fato, unindo todas as tabelas em uma única.
dataFrame = sc.read.parquet(pasta_taxis, header=True, inferSchema=True)

In [ ]:
#Verificar como está o Schema
dataFrame.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [ ]:
from pyspark.sql.functions import col
dataFrame = dataFrame.withColumn("RatecodeID", col("RatecodeID").cast("int")) #passando ratecodeID para int
dataFrame = dataFrame.withColumn("passenger_count", col("passenger_count").cast("int")) #passando quantidade de passageiros para inteiro

In [ ]:
#verificando valores nulos
for coluna in dataFrame.columns:
  print(coluna, dataFrame.filter(dataFrame[coluna].isNull()).count())

VendorID 0
tpep_pickup_datetime 0
tpep_dropoff_datetime 0
passenger_count 1368303
trip_distance 0
RatecodeID 1368303
store_and_fwd_flag 1368303
PULocationID 0
DOLocationID 0
payment_type 0
fare_amount 0
extra 0
mta_tax 0
tip_amount 0
tolls_amount 0
improvement_surcharge 0
total_amount 0
congestion_surcharge 1368303
airport_fee 1368303

In [ ]:
dataFrame = dataFrame.na.fill(0) #Substitui valores nulos por 0
dataFrame = dataFrame.na.fill("0", subset=["store_and_fwd_flag"]) #como essa coluna é string, colocamos o valor como "0". Optamos por não colocar como Y ou N pois não é uma informação que poderíamos obter com as informações da tabela.

for coluna in dataFrame.columns: #verificando novamente os valores nulos
  print(coluna, dataFrame.filter(dataFrame[coluna].isNull()).count())

VendorID 0
tpep_pickup_datetime 0
tpep_dropoff_datetime 0
passenger_count 0
trip_distance 0
RatecodeID 0
store_and_fwd_flag 0
PULocationID 0
DOLocationID 0
payment_type 0
fare_amount 0
extra 0
mta_tax 0
tip_amount 0
tolls_amount 0
improvement_surcharge 0
total_amount 0
congestion_surcharge 0
airport_fee 0

In [ ]:
#visualizando a tabela
print(dataFrame.count())
dataFrame.show(50)

39656098
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2022-03-01 00:13:08|  2022-03-01 00:24:35|              1|          2.4|         1|                 N|          90|         209|           2|       10.0|  3.0|    0.5|       0.0|         0.0|                  0.3|        13.8|                 2.5|        0.0|
|       1| 2022-03-01 00:47:52|  2022-03-01 01:00:08|              1|          2.2|         1|                 N|         148|         234|           2|       10.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        14.3|                 2.5|        0.0|
|       2| 2022-03-01 00:02:46|  2022-03-01 00:46:43|              1|        19.78|         2|                 N|         132|         249|           1|       52.0|  0.0|    0.5|     11.06|         0.0|                  0.3|       67.61|                 2.5|       1.25|
|       2| 2022-03-01 00:52:43|  2022-03-01 01:03:40|              2|         2.94|         1|                 N|         211|          66|           1|       11.0|  0.5|    0.5|      4.44|         0.0|                  0.3|       19.24|                 2.5|        0.0|
|       2| 2022-03-01 00:15:35|  2022-03-01 00:34:13|              1|         8.57|         1|                 N|         138|         197|           1|       25.0|  0.5|    0.5|      5.51|         0.0|                  0.3|       33.06|                 0.0|       1.25|
|       1| 2022-03-01 00:11:57|  2022-03-01 00:53:05|              2|         14.0|         1|                 N|         132|          33|           1|       43.5| 1.75|    0.5|       9.2|         0.0|                  0.3|       55.25|                 0.0|       1.25|
|       2| 2022-03-01 00:05:11|  2022-03-01 00:08:22|              1|         0.61|         1|                 N|         166|         151|           1|        4.5|  0.5|    0.5|       1.0|         0.0|                  0.3|         6.8|                 0.0|        0.0|
|       2| 2022-03-01 00:30:56|  2022-03-01 00:46:21|              1|         2.83|         1|                 N|          74|         238|           1|       13.0|  0.5|    0.5|       3.7|         0.0|                  0.3|        18.0|                 0.0|        0.0|
|       2| 2022-03-01 00:30:28|  2022-03-01 00:30:36|              1|          0.1|         1|                 N|         145|         145|           3|       -2.5| -0.5|   -0.5|       0.0|         0.0|                 -0.3|        -3.8|                 0.0|        0.0|
|       2| 2022-03-01 00:30:28|  2022-03-01 00:30:36|              1|          0.1|         1|                 N|         145|         145|           2|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|                 0.0|        0.0|
|       2| 2022-03-01 00:34:25|  2022-03-01 00:39:43|              1|          1.4|         2|                 N|         170|          90|           1|       52.0|  0.0|    0.5|       8.0|        6.55|                  0.3|       69.85|                 2.5|        0.0|
|       2| 2022-03-01 00:35:11|  2022-03-01 01:20:33|              1|        14.48|         1|                 N|         132|          97|           1|       45.5|  0.5|    0.5|      9.36|         0.0|                  0.3|       57.41|                 0.0|       1.25|
|       2| 2022-03-01 00:59:02|  2022-03-01 01:13:38|              1|         7.98|         1|                 N|         138|         255|           1|       23.5|  0.5|    0.5|       4.0|         0.0|                  0.3|       30.05|                 0.0|       1.25|
|       2| 2022-03-01 00:16:00|  2022-03-01 00:36:46|              1|         3.48|         1|                 N|         179|         226|           2|       16.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.3|                 0.0|        0.0|
|       2| 2022-03-01 00:57:18|  2022-03-01 01:38:31|              1|         8.57|         1|                 N|         226|          70|           2|       34.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        35.3|                 0.0|        0.0|
|       2| 2022-03-01 00:01:50|  2022-03-01 00:17:53|              1|         7.56|         1|                 N|         138|         256|           1|       23.5|  0.5|    0.5|       6.2|         0.0|                  0.3|       32.25|                 0.0|       1.25|
|       2| 2022-03-01 01:03:05|  2022-03-01 01:06:05|              5|         0.62|         1|                 N|          80|         255|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                 0.0|        0.0|
|       2| 2022-03-01 00:28:14|  2022-03-01 00:43:11|              2|         4.33|         1|                 N|         211|         142|           1|       15.0|  0.5|    0.5|      3.76|         0.0|                  0.3|       22.56|                 2.5|        0.0|
|       2| 2022-03-01 00:35:49|  2022-03-01 01:14:54|              1|        20.76|         2|                 N|         132|         238|           1|       52.0|  0.0|    0.5|     12.12|        6.55|                  0.3|       72.72|                 0.0|       1.25|
|       2| 2022-03-01 00:22:31|  2022-03-01 00:30:49|              2|         1.45|         1|                 N|         148|         231|           1|        7.5|  0.5|    0.5|      2.26|         0.0|                  0.3|       13.56|                 2.5|        0.0|
|       1| 2022-03-01 00:01:51|  2022-03-01 00:17:24|              1|          5.5|         1|                 N|         162|         255|           1|       17.5|  3.0|    0.5|       2.0|         0.0|                  0.3|        23.3|                 2.5|        0.0|
|       1| 2022-03-01 00:32:22|  2022-03-01 00:35:11|              3|          1.3|         1|                 N|         137|         141|           1|        5.5|  3.0|    0.5|       2.5|         0.0|                  0.3|        11.8|                 2.5|        0.0|
|       1| 2022-03-01 00:13:10|  2022-03-01 00:35:56|              0|         12.8|         1|                 N|         132|          70|           1|       35.5| 1.75|    0.5|       9.5|         0.0|                  0.3|       47.55|                 0.0|       1.25|
|       2| 2022-03-01 00:10:51|  2022-03-01 00:22:02|              2|         2.57|         1|                 N|          68|         170|           1|       10.5|  0.5|    0.5|       2.0|         0.0|                  0.3|        16.3|                 2.5|        0.0|
|       2| 2022-03-01 00:41:52|  2022-03-01 00:54:38|              2|         3.23|         1|                 N|         211|          48|           1|       12.0|  0.5|    0.5|      3.16|         0.0|                  0.3|       18.96|                 2.5|        0.0|
|       1| 2022-03-01 00:12:27|  2022-03-01 00:28:31|              1|          4.1|         1|                 N|         239|         137|           2|       13.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        17.3|                 2.5|        0.0|
|       1| 2022-03-01 00:54:32|  2022-03-01 01:33:39|              1|          8.3|         1|                 N|         141|         146|           2|       29.0|  3.0|    0.5|       0.0|         0.0|                  0.3|        32.8|                 2.5|        0.0|
|       1| 2022-03-01 00:15:10|  2022-03-01 00:23:56|              1|          1.8|         1|                 N|          25|          17|           1|        8.0|  0.5|    0.5|      1.85|         0.0|                  0.3|       11.15|                 0.0|        0.0|
|       2| 2022-03-01 00:35:59|  2022-03-01 00:46:02|              1|         2.82|         1|                 N|         114|         161|           1|       10.5|  0.5|    0.5|      2.86|         0.0|                  0.3|       17.16|                 2.5|        0.0|
|       2| 2022-03-01 00:52:58|  2022-03-01 01:08:04|              1|         2.06|         1|                 N|         164|         114|           1|       11.0|  0.5|    0.5|      2.96|         0.0|                  0.3|       17.76|                 2.5|        0.0|
|       2| 2022-03-01 00:26:14|  2022-03-01 00:43:20|              1|         3.24|         1|                 N|         230|          24|           2|       14.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        18.3|                 2.5|        0.0|
|       2| 2022-03-01 00:45:59|  2022-03-01 00:55:47|              1|         2.79|         1|                 N|         114|         163|           4|      -10.5| -0.5|   -0.5|       0.0|         0.0|                 -0.3|       -14.3|                -2.5|        0.0|
|       2| 2022-03-01 00:45:59|  2022-03-01 00:55:47|              1|         2.79|         1|                 N|         114|         230|           2|       10.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        14.3|                 2.5|        0.0|
|       2| 2022-03-01 00:15:55|  2022-03-01 00:27:49|              1|         2.26|         1|                 N|         107|         229|           1|       10.5|  0.5|    0.5|      2.14|         0.0|                  0.3|       16.44|                 2.5|        0.0|
|       2| 2022-03-01 00:30:43|  2022-03-01 00:52:34|              4|         4.35|         1|                 N|         229|         209|           2|       17.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        20.8|                 2.5|        0.0|
|       2| 2022-03-01 00:14:51|  2022-03-01 00:21:58|              1|         1.34|         1|                 N|         113|          45|           1|        7.0|  0.5|    0.5|       3.0|         0.0|                  0.3|        13.8|                 2.5|        0.0|
|       2| 2022-03-01 00:28:17|  2022-03-01 00:45:50|              1|         5.88|         1|                 N|          79|         112|           1|       18.5|  0.5|    0.5|       2.0|         0.0|                  0.3|        24.3|                 2.5|        0.0|
|       1| 2022-03-01 00:23:51|  2022-03-01 00:38:51|              2|         12.2|         1|                 N|         138|          40|           1|       33.5| 1.75|    0.5|       5.0|         0.0|                  0.3|       41.05|                 0.0|       1.25|
|       2| 2022-03-01 00:20:27|  2022-03-01 00:24:13|              1|         1.08|         1|                 N|         140|         236|           1|        5.5|  0.5|    0.5|      1.86|         0.0|                  0.3|       11.16|                 2.5|        0.0|
|       2| 2022-03-01 00:50:09|  2022-03-01 00:58:48|              1|         1.93|         1|                 N|         237|         143|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|        0.0|
|       1| 2022-03-01 00:37:51|  2022-03-01 01:11:38|              1|         18.8|         2|                 N|         132|         234|           1|       52.0| 3.75|    0.5|       8.0|        6.55|                  0.3|        71.1|                 2.5|       1.25|
|       1| 2022-03-01 00:05:28|  2022-03-01 00:30:30|              1|         17.3|         2|                 N|         132|         162|           1|       52.0| 3.75|    0.5|      12.6|        6.55|                  0.3|        75.7|                 2.5|       1.25|
|       1| 2022-03-01 00:26:24|  2022-03-01 00:39:52|              1|          3.9|         1|                 N|         142|         152|           2|       13.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        17.3|                 2.5|        0.0|
|       1| 2022-03-01 00:11:56|  2022-03-01 00:17:46|              0|          1.2|         1|                 N|         138|         129|           2|        6.0| 1.25|    0.5|       0.0|         0.0|                  0.3|        8.05|                 0.0|       1.25|
|       2| 2022-03-01 00:08:12|  2022-03-01 00:37:54|              2|        12.64|         1|                 N|         132|          49|           1|       37.0|  0.5|    0.5|      9.89|         0.0|                  0.3|       49.44|                 0.0|       1.25|
|       2| 2022-03-01 00:17:49|  2022-03-01 00:21:19|              1|         1.39|         1|                 N|         233|         224|           1|        6.0|  0.5|    0.5|      1.96|         0.0|                  0.3|       11.76|                 2.5|        0.0|
|       2| 2022-03-01 00:28:56|  2022-03-01 00:36:06|              1|         2.69|         1|                 N|         233|         262|           1|        9.5|  0.5|    0.5|      3.33|         0.0|                  0.3|       16.63|                 2.5|        0.0|
|       2| 2022-03-01 00:47:36|  2022-03-01 01:04:55|              1|         5.09|         1|                 N|         141|         223|           4|      -17.5| -0.5|   -0.5|       0.0|         0.0|                 -0.3|       -21.3|                -2.5|        0.0|
|       2| 2022-03-01 00:47:36|  2022-03-01 01:04:55|              1|         5.09|         1|                 N|         141|         223|           2|       17.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        21.3|                 2.5|        0.0|
|       2| 2022-03-01 00:43:01|  2022-03-01 01:09:40|              2|        18.68|         2|                 N|         132|         148|           1|       52.0|  0.0|    0.5|     11.06|         0.0|                  0.3|       67.61|                 2.5|       1.25|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 50 rows

#ETL

### Corrigindo as colunas de datas:

In [ ]:
from pyspark.sql.functions import col,when
dfDatasAoContrario = dataFrame.filter(col("tpep_pickup_datetime") > col("tpep_dropoff_datetime")) #verificando se há datas de pickup maiores que as datas de dropoff
print(dfDatasAoContrario.count())
dfDatasAoContrario.show(20) #resolvemos tratar esses dados considerando que tiveram sua entrada invertida, então, quando o pickup aparece maior, invertemos sua informação com a da coluna de dropoff, assim corrigindo-a

dataFrame = dataFrame.withColumn( #criação de colunas temporárias para guardar o dado enquanto é feita a substituição
    "temp_pickup_datetime",
    when(col("tpep_pickup_datetime") > col("tpep_dropoff_datetime"), col("tpep_dropoff_datetime")).otherwise(col("tpep_pickup_datetime"))
)

dataFrame = dataFrame.withColumn(
    "temp_dropoff_datetime",
    when(col("tpep_pickup_datetime") > col("tpep_dropoff_datetime"), col("tpep_pickup_datetime")).otherwise(col("tpep_dropoff_datetime"))
)

# Atualização  dos valores das colunas originais
dataFrame = dataFrame.withColumn("tpep_pickup_datetime", col("temp_pickup_datetime"))
dataFrame = dataFrame.withColumn("tpep_dropoff_datetime", col("temp_dropoff_datetime"))

# Remoção das colunas temporárias
dataFrame = dataFrame.drop("temp_pickup_datetime", "temp_dropoff_datetime")

dataFrame.filter(col("tpep_pickup_datetime") > col("tpep_dropoff_datetime")).show(20) #verificando se ainda há alguma data errada

dfPrincipal = dataFrame #Escolhemos atribuir um dataframe principal para os dados limpos.

13613
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2022-03-10 04:10:13|  2022-03-10 04:10:12|              1|          0.0|        99|                 N|         264|         265|           1|       49.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        50.0|                 0.0|        0.0|
|       1| 2022-03-10 15:49:18|  2022-03-10 15:49:17|              1|          0.0|        99|                 N|         264|         132|           1|       31.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        32.0|                 0.0|        0.0|
|       1| 2022-03-18 07:53:14|  2022-01-27 11:53:18|              1|          3.0|         1|                 N|         236|         100|           1|       22.0|  2.5|    0.5|       6.3|         0.0|                  0.3|        31.6|                 2.5|        0.0|
|       6| 2022-03-01 01:03:37|  2022-03-01 01:03:17|              0|         4.98|         0|                 0|         265|          41|           0|      20.13|  0.0|    0.5|       0.0|         0.0|                  0.3|       20.93|                 0.0|        0.0|
|       6| 2022-03-01 05:03:19|  2022-03-01 05:03:17|              0|        11.55|         0|                 0|         265|          47|           0|       52.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        53.0|                 0.0|        0.0|
|       6| 2022-03-01 07:03:56|  2022-03-01 07:03:53|              0|         6.04|         0|                 0|         265|         113|           0|      28.82|  0.0|    0.5|       0.0|         0.0|                  0.3|       29.62|                 0.0|        0.0|
|       6| 2022-03-01 07:03:48|  2022-03-01 07:03:23|              0|         1.55|         0|                 0|         265|         252|           0|       20.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        21.0|                 0.0|        0.0|
|       6| 2022-03-01 07:03:02|  2022-03-01 07:03:01|              0|        12.99|         0|                 0|         265|         170|           0|       50.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        51.0|                 0.0|        0.0|
|       6| 2022-03-01 08:03:46|  2022-03-01 08:03:06|              0|         5.24|         0|                 0|         265|         170|           0|       22.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        23.0|                 0.0|        0.0|
|       6| 2022-03-01 09:03:44|  2022-03-01 09:03:21|              0|         3.41|         0|                 0|         265|         242|           0|       20.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        21.0|                 0.0|        0.0|
|       6| 2022-03-01 09:03:23|  2022-03-01 09:03:07|              0|         5.66|         0|                 0|         265|          87|           0|       38.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        39.0|                 0.0|        0.0|
|       6| 2022-03-01 09:03:57|  2022-03-01 09:03:53|              0|         7.92|         0|                 0|         265|         170|           0|      32.79|  0.0|    0.5|       0.0|         0.0|                  0.3|       33.59|                 0.0|        0.0|
|       6| 2022-03-01 09:03:51|  2022-03-01 09:03:15|              0|         3.69|         0|                 0|         265|          18|           0|       24.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        25.0|                 0.0|        0.0|
|       6| 2022-03-01 09:03:28|  2022-03-01 09:03:02|              0|         6.06|         0|                 0|         265|          19|           0|       24.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        25.0|                 0.0|        0.0|
|       6| 2022-03-01 09:03:44|  2022-03-01 09:03:16|              0|         7.25|         0|                 0|         265|         165|           0|      36.92|  0.0|    0.5|       0.0|         0.0|                  0.3|       37.72|                 0.0|        0.0|
|       6| 2022-03-01 10:03:40|  2022-03-01 10:03:07|              0|         1.59|         0|                 0|         265|         182|           0|       15.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        16.0|                 0.0|        0.0|
|       6| 2022-03-01 10:03:19|  2022-03-01 10:03:06|              0|         1.09|         0|                 0|         265|         107|           0|       15.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        16.0|                 0.0|        0.0|
|       6| 2022-03-01 10:03:59|  2022-03-01 10:03:36|              0|          6.0|         0|                 0|         265|         135|           0|       27.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        28.0|                 0.0|        0.0|
|       6| 2022-03-01 10:03:18|  2022-03-01 10:03:16|              0|         1.18|         0|                 0|         265|          14|           0|       24.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        25.0|                 0.0|        0.0|
|       6| 2022-03-01 10:03:34|  2022-03-01 10:03:18|              0|         0.68|         0|                 0|         265|          89|           0|       17.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        18.0|                 0.0|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+

In [ ]:
from pyspark.sql.functions import year #analizando se há datas em anos que não são 2022
anosErrados = dfPrincipal.filter((year(dfPrincipal["tpep_pickup_datetime"])!= 2022)|(year(dfPrincipal["tpep_dropoff_datetime"])!= 2022))
print("Linhas com datas em anos errados: ", anosErrados.count())
anosErrados.show()

Linhas com datas em anos errados:  1146
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2008-12-31 23:19:56|  2008-12-31 23:44:06|              1|         2.76|         1|                 N|         161|         142|           2|       12.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        16.3|                 2.5|        0.0|
|       2| 2009-01-01 00:54:41|  2009-01-01 01:26:54|              1|          3.5|         1|                 N|         186|         140|           2|       19.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        22.8|                 2.5|        0.0|
|       2| 2009-01-01 01:52:29|  2009-01-01 02:05:49|              1|         1.61|         1|                 N|         163|         143|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|        0.0|
|       2| 2009-01-01 00:00:11|  2009-01-01 00:14:10|              1|         1.81|         1|                 N|          70|         138|           2|        8.0|  0.0|    0.5|       0.0|         0.0|                  0.3|         8.8|                 0.0|        0.0|
|       2| 2009-01-01 00:15:04|  2009-01-01 00:37:49|              1|        10.95|         1|                 N|         138|         161|           2|       31.5|  0.0|    0.5|       0.0|        6.55|                  0.3|        42.6|                 2.5|       1.25|
|       2| 2009-01-01 00:40:47|  2009-01-01 01:08:46|              1|        11.24|         1|                 N|         161|         138|           2|       33.0|  0.0|    0.5|       0.0|        6.55|                  0.3|       42.85|                 2.5|        0.0|
|       2| 2009-01-01 02:36:48|  2009-01-01 19:47:33|              1|         0.54|         1|                 N|         143|         143|           1|        4.5|  1.0|    0.5|       1.2|         0.0|                  0.3|        10.0|                 2.5|        0.0|
|       2| 2008-12-31 23:02:37|  2009-01-01 01:00:14|              1|        16.67|         2|                 N|         132|         107|           1|       52.0|  0.0|    0.5|     12.62|        6.55|                  0.3|       75.72|                 2.5|       1.25|
|       2| 2009-01-01 00:02:13|  2009-01-01 20:45:45|              1|         1.91|         1|                 N|         234|         144|           1|        9.0|  0.5|    0.5|       3.2|         0.0|                  0.3|        16.0|                 2.5|        0.0|
|       2| 2008-12-31 23:02:41|  2009-01-01 01:23:52|              1|        17.52|         2|                 N|         132|         231|           1|       52.0|  0.0|    0.5|      8.48|         0.0|                  0.3|       65.03|                 2.5|       1.25|
|       2| 2008-12-31 23:02:08|  2008-12-31 23:59:34|              1|        20.15|         1|                 N|         132|         181|           1|       55.5|  0.5|    0.5|     11.61|         0.0|                  0.3|       69.66|                 0.0|       1.25|
|       2| 2009-01-01 00:06:34|  2009-01-01 17:51:22|              1|         2.56|         1|                 N|         142|         246|           2|       11.0|  1.0|    0.5|       0.0|         0.0|                  0.3|        15.3|                 2.5|        0.0|
|       2| 2008-12-31 23:06:17|  2009-01-01 14:05:44|              1|         1.68|         1|                 N|         142|          43|           1|        9.0|  0.0|    0.5|       1.0|         0.0|                  0.3|        13.3|                 2.5|        0.0|
|       2| 2008-12-31 23:03:21|  2009-01-01 21:26:00|              1|         2.07|         1|                 N|         239|         262|           1|        9.5|  0.5|    0.5|      1.75|         0.0|                  0.3|       15.05|                 2.5|        0.0|
|       2| 2009-01-01 00:03:56|  2009-01-01 19:12:00|              1|         6.65|         1|                 N|         138|          42|           1|       21.5|  1.0|    0.5|      0.03|        6.55|                  0.3|       31.13|                 0.0|       1.25|
|       2| 2003-01-01 00:06:06|  2003-01-01 00:31:38|              1|         4.21|         1|                 N|         263|           7|           2|       19.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        22.8|                 2.5|        0.0|
|       2| 2008-12-31 23:03:33|  2009-01-01 18:07:00|              1|        14.07|         2|                 N|         130|         114|           1|       52.0|  0.0|    0.5|     12.62|        6.55|                  0.3|       75.72|                 2.5|       1.25|
|       2| 2009-01-01 04:32:00|  2009-01-01 22:33:13|              1|         1.98|         1|                 N|         239|         246|           1|        8.5|  0.5|    0.5|       1.0|         0.0|                  0.3|        13.3|                 2.5|        0.0|
|       2| 2009-01-01 02:37:56|  2009-01-01 18:32:11|              1|         1.54|         1|                 N|         263|         237|           1|        8.5|  1.0|    0.5|      1.92|         0.0|                  0.3|       14.72|                 2.5|        0.0|
|       2| 2008-12-31 23:06:01|  2009-01-01 22:30:46|              1|         1.05|         1|                 N|         142|         239|           1|        5.5|  0.5|    0.5|      1.86|         0.0|                  0.3|       11.16|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, dayofmonth, month
viradasDeAno = dfPrincipal.filter((dayofmonth(col("tpep_pickup_datetime")) == 31) & (month(col("tpep_pickup_datetime")) == 12) & (dayofmonth(col("tpep_dropoff_datetime")) == 1) & (month(col("tpep_dropoff_datetime")) == 1))#Filtra quando uma viagem é feita na virada do ano
print("Viagens feitas na virada do ano: ",viradasDeAno.count())
print("Viagens totais:", dfPrincipal.count())

Viagens feitas na virada do ano:  626
Viagens totais: 39656098

Como pode ser visto na contagem acima, as linhas de viagens ocorridas na virada de ano não são nem 0,01% do total de linhas da tabela. Então, optamos por remover essas linhas, pois as viagens com datas corretas e erradas não teriam impacto na análise final dos dados. Além disso, não é possível corrigir as datas de anos errados, pois não temos como saber se elas se referem à virada de 2021 para 2022 ou 2022 para 2023.

Quanto as demais datas em anos errados, decidimos passá-las para 2022, por estarem nas tabelas referentes ao ano de 2022.

In [ ]:
dfPrincipal = dfPrincipal.subtract(viradasDeAno)#remove as linhas de virada do dataframe
dfPrincipal.filter((dayofmonth(col("tpep_pickup_datetime")) == 31) & (month(col("tpep_pickup_datetime")) == 12) & (dayofmonth(col("tpep_dropoff_datetime")) == 1) & (month(col("tpep_dropoff_datetime")) == 1)).show(20)#verifica se realmente foram removidas

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+

In [ ]:
from pyspark.sql.functions import date_format, concat, lit, to_timestamp
dfPrincipal = dfPrincipal.withColumn("aux_pickup2022",  #criação de uma coluna auxiliar para pickup e dropoff que recebe todas as informações de mês, dia, hora, minuto e segundo, e acrescenta o ano de 2022
    concat(lit("2022-"), date_format(col("tpep_pickup_datetime"), "MM-dd HH:mm:ss"))
    ).withColumn("aux_dropoff_2022",
             concat(lit("2022-"), date_format(col("tpep_dropoff_datetime"), "MM-dd HH:mm:ss")))

dfPrincipal = dfPrincipal.withColumn("aux_pickup2022",to_timestamp(col("aux_pickup2022"))#Conversão das colunas auxiliares para timestamp
).withColumn("aux_dropoff_2022", to_timestamp(col("aux_dropoff_2022")))

# Atualização  dos valores das colunas originais
dfPrincipal = dfPrincipal.withColumn("tpep_pickup_datetime", col("aux_pickup2022"))
dfPrincipal = dfPrincipal.withColumn("tpep_dropoff_datetime", col("aux_dropoff_2022"))

# Remoção das colunas temporárias
dfPrincipal = dfPrincipal.drop("aux_pickup2022", "aux_dropoff_2022")

dfPrincipal.filter((year(dfPrincipal["tpep_pickup_datetime"])!= 2022)|(year(dfPrincipal["tpep_dropoff_datetime"])!= 2022)).show(20)  #verificando se ainda há anos diferentes de 2022

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+

###Corrigindo os Métodos de Pagamento
Para os métodos de pagamento, temos dinheiro, cartão, sem custo, em disputa, desconhecido e corrida cancelada.
* Credit Card: A coluna de gorjeta, segundo o dicionário de dados, é preenchida automaticamente para gorjetas no cartão de crédito e não há gorjetas em dinheiro incluídas na coluna. Sendo assim, transformamos casos na tabela onde haja um valor de gorjeta para cartão de crédito cartão de crédito. Mas também consideramos que viagens pagas no cartão não tem gorjetas obrigatórias, então é possível encontrar tip_amount = 0 quando o tipo de pagamento é cartão.
* Voided Trips: Consideramos como corrida cancelada toda a corrida que era duplicada na tabela(verificando por meio do datetime de pickup e dropoff), mas que em uma linha seus valores eram positivos e na outra eram negativos(verificado por meio do total_amount).
* No Charge: Corridas sem cobrança não são pagas pelo passageiro, então o motorista não recebe o dinheiro imediatamente, podendo levar algum tempo ou recebendo na próxima corrida. Por causa disso, consideramos como canceladas e trocamos todos os payment_type de 3 para 6
* Dispute: Corridas em disputa não foram pagas ao taxista, então nós consideramos como canceladas e trocamos todos os payment_type de 4 para 6.
* Unknow: Podemos apenas alterar os pagamentos das corridas que tenham gorjeta, passando a ser cartão. Quanto as outras linhas, não é possível transformar seu método de pagamento, pois não conseguimos saber se é dinheiro(ganho para o motorista) ou Sem Cobrança ou Disputa(custo para o motorista)
* Cash: Quando o método é dinheiro, não há outra coluna que possa o identificar além do payment_type, então optamos por manter apenas os valores que já estivessem nele, após todas as transformações dos outros métodos de pagamento.

Valores de payment_type que não são nenhum dos 6 que estão no dicionário: caso tenham gorjeta serão tratados automaticamente por causa do tratamento referente ao cartão de crédito. As demais linhas serão passadas para unknow, pois não é possível definir se são dinheiro, sem cobrança ou em disputa.

In [ ]:
from pyspark.sql import functions as F
pagamento = dfPrincipal #Primeiro copiaremos o dataframe para poder trabalhar nessa parte e depois atualizaremos o principal
pagamento = pagamento.withColumn("trip_id", F.monotonically_increasing_id())#Id para facilitar o etl dos pagamentos

In [ ]:
print(pagamento.filter((pagamento.payment_type<1)|(pagamento.payment_type>6)).count()) #verificando linhas com métodos de pagamento inexistentes

1368296

Tratando o pagamento em cartão de crédito:

In [ ]:
pagamento = pagamento.withColumn("payment_type",
    when((col("tip_amount") != 0) & (col("payment_type") != 1), 1)  #Quando houver tip amount e o método de pagamento não for cartão, deveremos passar para cartão de crédito.
    .otherwise(col("payment_type"))
)
pagamento.filter((col("tip_amount") != 0) & (col("payment_type") != 1)).show(20)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|trip_id|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-------+
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-------+

In [ ]:
from pyspark.sql.functions import abs
negativo = pagamento.filter(pagamento.total_amount<0) #primeiramente, precisamos separar todas as linhas que tem o total_amount como negativo

#em seguida, faremos um join, responsável por unir o negativo com o pagamento.
duplicadas = pagamento.alias('p').join(
    negativo.alias('n'),
    [
        col("p.total_amount") == -col("n.total_amount"),
        col("p.tpep_pickup_datetime") == col("n.tpep_pickup_datetime"),
        col("p.tpep_dropoff_datetime") == col("n.tpep_dropoff_datetime")
    ],
    "inner"
).select(col("p.*"),col("n.trip_id").alias("e_cancelada")).withColumn("payment_type", lit(6)) #esse join junta as linhas positivas com suas duplicatas negativas, nas colunas das tuplas positivas, é adicionado o id da tupla negativa referente.
#para o positivo e o negativo, seu payment type é alterado para 6(voided_trips)

semDuplicata = pagamento.join(duplicadas.select("e_cancelada").distinct(), #selecionamos apenas a coluna e_cancelada e removemos duplicatas com o distinct
    pagamento.trip_id == duplicadas.e_cancelada,   #fazemos um left_anti, que remove as linhas de df que tem duplicata, deixando apenas as linhas que originalmente já não teriam duplicatas
    "left_anti")

negativoDistinto = semDuplicata.filter(semDuplicata.total_amount < 0) #os negativos que não eram linhas duplicadas.
negativoDistinto = negativoDistinto.withColumn("total_amount", abs(col("total_amount"))).withColumn("payment_type", lit(6))#Passamos os valores negativos para positivos e passamos o pagamento para viagem cancelada
positivoDistinto = semDuplicata.filter(col("total_amount") > 0) #os positivos que não eram linhas duplicadas.

In [ ]:
pagamento = positivoDistinto.unionByName(negativoDistinto).unionByName(duplicadas.select(pagamento.columns))#unindo todos os datasets separados anteriormente de volta a um só
print(pagamento.filter(pagamento.payment_type==6).count())
pagamento = pagamento.drop("trip_id")#removendo o id adicionado ao início do etl de payment_type

255707

In [ ]:
pagamento = pagamento.withColumn("payment_type",
    when((col("payment_type") == 3) | (col("payment_type") == 4), 6).otherwise(col("payment_type"))) #como estamos considerando no charge e dispute como corrida cancelada, passaremos as linhas restantes para payment_type = 6

In [ ]:
pagamento = pagamento.withColumn("payment_type",
    when((col("payment_type") < 1) | (col("payment_type") > 6), 5).otherwise(col("payment_type")))  #passando valores que não se encontram no dicionário para unknow, pois fora as corridas canceladas e cartão de crédito, não é possível descobrir os outros métodos de pagamento.

In [ ]:
pagamento = pagamento.withColumn("payment_type",
    when((col("trip_distance") == 0) & (col("payment_type") != 6), 6).otherwise(F.col("payment_type")))  #se a distância da viagem for 0 e a corrida já não for uma corrida cancelada, passamos ela para corrida cancelada

In [ ]:
#passando as colunas de valores todas para positivo:
for valColunas in ["fare_amount", "extra", "mta_tax", "tip_amount", "tolls_amount","improvement_surcharge", "total_amount","congestion_surcharge", "airport_fee"]:
    pagamento = pagamento.withColumn(valColunas, abs(col(valColunas)))

In [ ]:
dfPrincipal = pagamento #passamos os valores limpos de volta para o dataframe principal

In [ ]:
print(dfPrincipal.filter(dfPrincipal.payment_type == 6).count()) #verificando a quantidade de viagens canceladas

986538

In [ ]:
print(dfPrincipal.filter((dfPrincipal.payment_type <1) | (dfPrincipal.payment_type > 6)).count()) #verificando a quantidade de viagens com métodos de pagamento inexistentes

0

In [ ]:
dfPrincipal.filter(year(col("tpep_dropoff_datetime"))!= 2022).show() #verificando se todas as linhas estão em 2022

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+

### Distâncias

In [ ]:
from pyspark.sql.functions import expr
print("Linhas totais da tabela: ",dfPrincipal.count())
print("Linhas com distância maior que 100 milhas: ",dfPrincipal.filter(dfPrincipal.trip_distance > 100).count())

Linhas totais da tabela:  39649170
Linhas com distância maior que 100 milhas:  1529

O número de linhas com distâncias maiores que 100 milhas são aproximadamente 0,003% do total de linhas da tabela, então optamos por desconsiderá-las, já que como a tabela consiste apenas em viagens de taxi dentro da própria cidade de Nova York, distâncias longas assim são altamente improváveis.

In [ ]:
dfPrincipal = dfPrincipal.filter(dfPrincipal.trip_distance <= 100)

#Consultas
Para as consultas, escolhemos o item 2, que contém:
- Qual o ganho médio por milha por mês por cada taxista durante todo o ano de 2022?
- Qual a taxa de corrida canceladas por mês para os taxistas que possuem o ganho médio por milha superior a
média geral para o ano de 2022?
- Qual o ganho médio para os top-10 taxistas que mais rodaram por mês durante o ano de 2022?
- Suponha que incida uma taxa de 2% sobre cartão de
crédito. Refaça as três análises anteriores.

Como não há um identificador de motoristas na tabela, consideraremos os Vendor_id como os motoristas.
Apesar de no dicionário ter apenas 2 Vendor_id, mantivemos os outros como o professor disse para fazer, já que não há mais o identificador de motoristas para a realização das consultas.

Não é necessária a condição do ano ser 2022 para as nossas consultas, pois todos os dados já foram limpos e transformados para esse ano.

In [ ]:
#Primeiro precisaremos transformar nosso dataframe Principal em uma view
dfPrincipal.createTempView("yellowTaxi2022view")

### Consulta 1: Qual o ganho médio por milha por mês por cada taxista durante todo o ano de 2022?

In [ ]:
#Qual o ganho médio por milha por mês por cada taxista durante todo o ano de 2022?
consulta1 = sc.sql("Select VendorId, month(tpep_dropoff_datetime) as mes, round(avg(fare_amount/trip_distance), 2) as Ganho_por_milha \
from yellowTaxi2022view where payment_type in (1,2) \
group by VendorId, mes order by VendorID, mes")
consulta1.show(50)

+--------+---+---------------+
|VendorId|mes|Ganho_por_milha|
+--------+---+---------------+
|       1|  1|           5.66|
|       1|  2|           5.87|
|       1|  3|           5.86|
|       1|  4|           5.85|
|       1|  5|           5.92|
|       1|  6|           5.94|
|       1|  7|           5.78|
|       1|  8|           5.75|
|       1|  9|           6.11|
|       1| 10|           6.11|
|       1| 11|           6.15|
|       1| 12|           6.87|
|       2|  1|           8.39|
|       2|  2|           8.57|
|       2|  3|           9.18|
|       2|  4|           9.77|
|       2|  5|          10.37|
|       2|  6|           10.5|
|       2|  7|           9.91|
|       2|  8|           10.2|
|       2|  9|          11.04|
|       2| 10|          10.89|
|       2| 11|          10.67|
|       2| 12|          11.76|
|       5|  1|           4.11|
|       5|  2|           3.47|
|       5|  3|           6.39|
|       5|  4|           5.45|
|       5|  5|           5.07|
|       5|  6|            5.9|
|       5|  7|           5.78|
|       5|  8|           4.54|
|       5|  9|            3.7|
+--------+---+---------------+

A única coluna dos valores da corrida que está diretamente relacionada à distância da corrida é a fare_amount, então consideramos apenas ela para o cálculo do ganho.
Dividimos o fare_amount pela distância para descobrir o ganho médio por milha. Esse ganho médio está sendo agrupado por vendedor e mês.
Foi preciso fazer subquery pois o spark não suportava fazer o round dentro do avg.

### Consulta 2: Qual a taxa de corrida canceladas por mês para os taxistas que possuem o ganho médio por milha superior a média geral para o ano de 2022?

Para essa consulta, consideramos que o ganho médio a ser considerado, do taxista é anual assim como a média geral, pois a consulta foi escrita de maneira ambígua.

Assim como na consulta anterior, estaremos calculando o ganho por milha utilizando o fare_amount dividido pela distância, pois é a única coluna de valor recebido que é relacionada a distância da corrida.

In [ ]:
#Qual a taxa de corrida canceladas por mês para os taxistas que possuem o ganho médio por milha superior a média geral para o ano de 2022?
consulta2 = sc.sql("""
with ganhoPorMilha as (
    select VendorID, round(avg(fare_amount / trip_distance),2) as mediaGanhoMilha
    from yellowTaxi2022view GROUP BY VendorID
    ),
mediaGeral as (
    select avg(mediaGanhoMilha) as ganhoMediaGeral from ganhoPorMilha
    ),
superaMediaGeral as (
    select VendorID from ganhoPorMilha
    where mediaGanhoMilha > (select ganhoMediaGeral from mediaGeral)
),
canceladasPorMes as(
    select
        VendorID,
        count(*) AS canceladas,
        month(tpep_dropoff_datetime) as mes
    from
        yellowTaxi2022view
    where
        payment_type = 6 and VendorID in (select VendorID from superaMediaGeral)
    group by
        VendorID,
        mes
),
viagensPorMes as(
    select
        VendorID,
        count(*) AS quantidadeViagens,
        month(tpep_dropoff_datetime) as mes
    from
        yellowTaxi2022view
    where
       VendorID in (select VendorID from superaMediaGeral)
    group by
        VendorID,
        mes
)
select cancel.VendorID, cancel.mes, round(((cancel.canceladas * 100)/viagens.quantidadeViagens),2) as Taxa_corridas_canceladas
from canceladasPorMes cancel join viagensPorMes viagens
on cancel.VendorID = viagens.VendorID and cancel.mes = viagens.mes
order by cancel.mes;""")
consulta2.show(50)

+--------+---+------------------------+
|VendorID|mes|Taxa_corridas_canceladas|
+--------+---+------------------------+
|       2|  1|                    1.56|
|       2|  2|                    1.52|
|       2|  3|                     1.6|
|       2|  4|                    1.59|
|       2|  5|                    1.83|
|       2|  6|                    2.04|
|       2|  7|                     2.0|
|       2|  8|                    2.09|
|       2|  9|                    2.46|
|       2| 10|                    2.84|
|       2| 11|                    2.78|
|       2| 12|                    3.04|
+--------+---+------------------------+

Para essa consulta, separamos a mesma em diversos selects armazenados para serem usados num select principal.
- ganhoPorMilha: faz o cálculo do ganho por milha de cada taxista no ano.
- mediaGeral: calcula a média geral de todos os taxistas no ano
- superaMediaGeral: verifica se a média do taxista superou a média anual
- canceladasPorMes: seleciona as corridas canceladas por mês do taxista que superou a média geral.
- viagensPorMes: seleciona as corridas totais por mês do taxista que superou a média geral.

Select principal: mostra o taxista, o mês e a taxa de corridas canceladas ao juntar os subquerys de canceladasPorMes e ViagensPorMes.

### Consulta 3: Qual o ganho médio para os top-10 taxistas que mais rodaram por mês durante o ano de 2022?

In [ ]:
#Qual o ganho médio para os top-10 taxistas que mais rodaram por mês durante o ano de 2022?
consulta3 = sc.sql("""
with top10 as(
  select VendorId, mes, somaDistancia
  from(select VendorID, sum(trip_distance) as somaDistancia, month(tpep_dropoff_datetime) as mes,
    row_number() over (partition by month(tpep_dropoff_datetime) order by sum(trip_distance) desc) as ranking
     from yellowTaxi2022view
     where payment_type in (1,2)
    group by VendorID, mes)
  where ranking <= 10
)
select top10.mes, top10.VendorID, round(avg(ytview.total_amount - ytview.tolls_amount - ytview.MTA_tax + ytview.tip_amount),2) as GanhoMedio
from top10 join yellowTaxi2022view ytview
on top10.VendorID = ytview.VendorID and month(ytview.tpep_dropoff_datetime) = top10.mes
where ytview.payment_type in (1, 2)
group by top10.mes, top10.VendorID
order by top10.mes, ganhoMedio desc
""")
consulta3.show(50)

+---+--------+----------+
|mes|VendorID|GanhoMedio|
+---+--------+----------+
|  1|       5|     76.01|
|  1|       2|     20.76|
|  1|       1|     20.05|
|  2|       5|      80.4|
|  2|       2|     21.41|
|  2|       1|     20.62|
|  3|       5|      65.7|
|  3|       2|     22.58|
|  3|       1|     21.58|
|  4|       5|     79.73|
|  4|       2|     23.25|
|  4|       1|     22.03|
|  5|       5|     84.24|
|  5|       2|     24.37|
|  5|       1|     22.67|
|  6|       5|     82.83|
|  6|       2|     24.29|
|  6|       1|     22.61|
|  7|       5|      99.8|
|  7|       2|     23.52|
|  7|       1|     22.11|
|  8|       5|     88.48|
|  8|       2|     23.61|
|  8|       1|     22.26|
|  9|       5|    148.54|
|  9|       2|     24.99|
|  9|       1|     23.26|
| 10|       2|     24.64|
| 10|       1|     22.81|
| 11|       2|     24.36|
| 11|       1|     22.62|
| 12|       2|     27.57|
| 12|       1|     24.82|
+---+--------+----------+

Para essa consulta, primeiro fizemos o top 10 dos taxistas que mais rodaram por mês em uma subquery. Foi preciso utilizar o ROW NUMBER() para poder ranquear os taxistas. Após o ranking, selecionamos apenas os que fossem <= a 10, ou seja, o top 10.

A consulta principal pega os taxistas e meses vindos da subquery e o ganho médio deles, que consideramos como o total da corrida menos o que foi gasto em pedágio e imposto(MTA_tax), mais a gorjeta recebida, que não é contabilizada no total_amount.

A consulta mostra os resultados ordenados por mês e do maior ao menor ganho medio do top 10.

### Taxa de 2% para cartão de crédito

Agora precisamos refazer as 3 consultas anteriores para que viagens pagas no cartão de crédito tenham uma taxa de 2% em seu valor.
Supondo que o passageiro pague o 2% no total da viagem, isso significa que todas as colunas que compõe o total_amount também recebem mais 2%.


tip_amount não faz parte da contagem do total, mas estamos incluindo os 2% pois ela só pode ser paga no cartão.

In [ ]:
dfTaxa2 = dfPrincipal.withColumn('fare_amount', when(col('payment_type') == 1, col('fare_amount') * 1.02).otherwise(col('fare_amount'))
).withColumn('extra', when(col('payment_type') == 1, col('extra') * 1.02).otherwise(col('extra'))
).withColumn('MTA_tax', when(col('payment_type') == 1, col('MTA_tax') * 1.02).otherwise(col('MTA_tax'))
).withColumn('improvement_surcharge', when(col('payment_type') == 1, col('improvement_surcharge') * 1.02).otherwise(col('improvement_surcharge'))
).withColumn('tip_amount', when(col('payment_type') == 1, col('tip_amount') * 1.02).otherwise(col('tip_amount'))
).withColumn('tolls_amount', when(col('payment_type') == 1, col('tolls_amount') * 1.02).otherwise(col('tolls_amount'))
).withColumn('total_amount', when(col('payment_type') == 1, col('total_amount') * 1.02).otherwise(col('total_amount'))
).withColumn('congestion_surcharge', when(col('payment_type') == 1, col('congestion_surcharge') * 1.02).otherwise(col('congestion_surcharge'))
).withColumn('airport_fee', when(col('payment_type') == 1, col('airport_fee') * 1.02).otherwise(col('airport_fee'))
)

In [ ]:
dfTaxa2.createTempView("taxa2view")

As consultas se manterão quase iguais, com exceção de que agora a view utilizada é a com taxa de 2% no cartão

### Consulta 1: Qual o ganho médio por milha por mês por cada taxista durante todo o ano de 2022?

In [ ]:
#Qual o ganho médio por milha por mês por cada taxista durante todo o ano de 2022?
consulta1 = sc.sql("Select VendorId, month(tpep_dropoff_datetime) as mes, round(avg(fare_amount/trip_distance), 2) as Ganho_por_milha \
from taxa2view where payment_type in (1,2) \
group by VendorId, mes order by VendorID, mes")
consulta1.show(50)

+--------+---+---------------+
|VendorId|mes|Ganho_por_milha|
+--------+---+---------------+
|       1|  1|           5.75|
|       1|  2|           5.96|
|       1|  3|           5.96|
|       1|  4|           5.94|
|       1|  5|           6.02|
|       1|  6|           6.03|
|       1|  7|           5.87|
|       1|  8|           5.84|
|       1|  9|           6.21|
|       1| 10|            6.2|
|       1| 11|           6.25|
|       1| 12|           6.98|
|       2|  1|            8.5|
|       2|  2|           8.69|
|       2|  3|           9.31|
|       2|  4|           9.91|
|       2|  5|          10.52|
|       2|  6|          10.64|
|       2|  7|          10.04|
|       2|  8|          10.34|
|       2|  9|           11.2|
|       2| 10|          11.05|
|       2| 11|          10.83|
|       2| 12|          11.93|
|       5|  1|            4.2|
|       5|  2|           3.54|
|       5|  3|           6.52|
|       5|  4|           5.56|
|       5|  5|           5.17|
|       5|  6|           6.02|
|       5|  7|            5.9|
|       5|  8|           4.63|
|       5|  9|           3.78|
+--------+---+---------------+

### Consulta 2: Qual a taxa de corrida canceladas por mês para os taxistas que possuem o ganho médio por milha superior a média geral para o ano de 2022?

In [ ]:
#Qual a taxa de corrida canceladas por mês para os taxistas que possuem o ganho médio por milha superior a média geral para o ano de 2022?
consulta2 = sc.sql("""
with ganhoPorMilha as (
    select VendorID, round(avg(fare_amount / trip_distance),2) as mediaGanhoMilha
    from taxa2view GROUP BY VendorID
    ),
mediaGeral as (
    select avg(mediaGanhoMilha) as ganhoMediaGeral from ganhoPorMilha
    ),
superaMediaGeral as (
    select VendorID from ganhoPorMilha
    where mediaGanhoMilha > (select ganhoMediaGeral from mediaGeral)
),
canceladasPorMes as(
    select
        VendorID,
        count(*) AS canceladas,
        month(tpep_dropoff_datetime) as mes
    from
        taxa2view
    where
        payment_type = 6 and VendorID in (select VendorID from superaMediaGeral)
    group by
        VendorID,
        mes
),
viagensPorMes as(
    select
        VendorID,
        count(*) AS quantidadeViagens,
        month(tpep_dropoff_datetime) as mes
    from
        taxa2view
    where
       VendorID in (select VendorID from superaMediaGeral)
    group by
        VendorID,
        mes
)
select cancel.VendorID, cancel.mes, round(((cancel.canceladas * 100)/viagens.quantidadeViagens),2) as Taxa_corridas_canceladas
from canceladasPorMes cancel join viagensPorMes viagens
on cancel.VendorID = viagens.VendorID and cancel.mes = viagens.mes
order by cancel.mes;""")
consulta2.show(50)

+--------+---+------------------------+
|VendorID|mes|Taxa_corridas_canceladas|
+--------+---+------------------------+
|       2|  1|                    1.56|
|       2|  2|                    1.52|
|       2|  3|                     1.6|
|       2|  4|                    1.59|
|       2|  5|                    1.83|
|       2|  6|                    2.04|
|       2|  7|                     2.0|
|       2|  8|                    2.09|
|       2|  9|                    2.46|
|       2| 10|                    2.84|
|       2| 11|                    2.78|
|       2| 12|                    3.04|
+--------+---+------------------------+

### Consulta 3: Qual o ganho médio para os top-10 taxistas que mais rodaram por mês durante o ano de 2022?

In [ ]:
#Qual o ganho médio para os top-10 taxistas que mais rodaram por mês durante o ano de 2022?
consulta3 = sc.sql("""
with top10 as(
  select VendorId, mes, somaDistancia
  from(select VendorID, sum(trip_distance) as somaDistancia, month(tpep_dropoff_datetime) as mes,
    row_number() over (partition by month(tpep_dropoff_datetime) order by sum(trip_distance) desc) as ranking
     from taxa2view
     where payment_type in (1,2)
    group by VendorID, mes)
  where ranking <= 10
)
select top10.mes, top10.VendorID, round(avg(ytview.total_amount - ytview.tolls_amount - ytview.MTA_tax + ytview.tip_amount),2) as GanhoMedio
from top10 join taxa2view ytview
on top10.VendorID = ytview.VendorID and month(ytview.tpep_dropoff_datetime) = top10.mes
where ytview.payment_type in (1, 2)
group by top10.mes, top10.VendorID
order by top10.mes, ganhoMedio desc
""")
consulta3.show(50)

+---+--------+----------+
|mes|VendorID|GanhoMedio|
+---+--------+----------+
|  1|       5|     77.53|
|  1|       2|     21.11|
|  1|       1|     20.39|
|  2|       5|     82.01|
|  2|       2|     21.78|
|  2|       1|     20.98|
|  3|       5|     67.02|
|  3|       2|     22.97|
|  3|       1|     21.95|
|  4|       5|     81.32|
|  4|       2|     23.65|
|  4|       1|      22.4|
|  5|       5|     85.93|
|  5|       2|     24.79|
|  5|       1|     23.06|
|  6|       5|     84.49|
|  6|       2|      24.7|
|  6|       1|      23.0|
|  7|       5|    101.79|
|  7|       2|     23.91|
|  7|       1|     22.48|
|  8|       5|     90.25|
|  8|       2|      24.0|
|  8|       1|     22.63|
|  9|       5|    151.51|
|  9|       2|     25.41|
|  9|       1|     23.66|
| 10|       2|     25.06|
| 10|       1|     23.21|
| 11|       2|     24.78|
| 11|       1|     23.01|
| 12|       2|     28.04|
| 12|       1|     25.24|
+---+--------+----------+